* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background: url(../img/bg.jpg);
	background-color: powderblue;
}

.col-todo {
	background-color: darkgrey;
}


h1.title {
	color: white;
}

.completed {
	color: green;
	text-decoration: line-through;
}

ul {
	list-style: none;
}

li {
	color: darkred;
}

.columns {
	height: 70vh;
}